<!doctype html>
<html lang="en">
  <head>

    <!-- <link rel="icon" type="image/x-icon" href="/images/logo-black.png"> -->
    <%- include('layout/header') %>

    <title>Java Coffee</title>
  </head>

  <script>
    function showPassword() {

      const passwordInput = document.querySelector('#passwordLogin');
      const passwordIcon = document.querySelector('#passwordIcon');
      
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordIcon.classList.remove('fa-eye');
        passwordIcon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        passwordIcon.classList.remove('fa-eye-slash');
        passwordIcon.classList.add('fa-eye');
      }

    }
  </script>

  <body>
    <div class="loader hide">
      <div id="loading"></div>
    </div>
    <div class="login-card-container">
      <div class="login-card">
        <div class="login-card-logo">
          <img src="/images/logo-black.png" alt="logo" />
        </div>
        <div class="login-card-header">
          <h1>Đăng nhập</h1>
          <div>Vui lòng đăng nhập để sử dụng</div>
        </div>
        <form id="frmLogin" class="login-card-form">
          <div class="form-item">
            <span class="form-item-icon"
              ><i class="fa-solid fa-user-pen"></i
            ></span>
            <input
              id="emailLogin"
              name="emailLogin"
              type="email"
              placeholder="Nhập email"
              required
              autofocus
            />
          </div>
          <div class="form-item">
            <span class="form-item-icon"><i class="fa-solid fa-key"></i></span>
            <input
              id="passwordLogin"
              name="passwordLogin"
              type="password"
              placeholder="Nhập mật khẩu"
              required
            />
            <span class="show-password" onclick="showPassword()"
              ><i id="passwordIcon" class="fa-solid fa-eye"></i
            ></span>
          </div>
          <div class="form-item-other">
            <div class="checkbox">
              <input type="checkbox" id="rememberMeCheckBox" />
              <label for="rememberMeCheckBox">Nhớ tài khoản</label>
            </div>
            <a href="/cp/forget-password">Quên mật khẩu</a>
          </div>
          <button id="btnLogin" type="button">Đăng nhập</button>
        </form>
      </div>
    </div>
  </body>

  <%- include('layout/script') %>

  <script>
    const page = {
      urls: {
        login: AppUtils.AUTH_URL + '/login',
      },
      elements: {},
      commands: {},
      initializeEventControl: {},
    };

    page.elements.loader = $('.loader');

    page.elements.frmLogin = $('#frmLogin');
    page.elements.emailLogin = $('#emailLogin');
    page.elements.passwordLogin = $('#passwordLogin');
    page.elements.btnLogin = $('#btnLogin');

    page.commands.login = () => {
      page.commands.showLoading();
      let user = {
        username: page.elements.emailLogin.val(),
        password: page.elements.passwordLogin.val(),
      };
      $.ajax({
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        type: 'POST',
        url: page.urls.login,
        data: JSON.stringify(user),
      })
        .done((resp) => {
          let role = resp.roles[0].authority;
          AppUtils.SweetAlert.redirectPage(
            'Đăng nhập thành công.',
            '<b></b>',
            1000,
          );

          setTimeout(function () {
            window.location.href = '/cp';
          }, 1000);

          if (role === 'CUSTOMER') {
            AppUtils.IziToast.showErrorAlertLeft('Chưa có trang khách hàng');
          }
        })
        .fail(function (jqXHR) {
          console.log(jqXHR.responseJSON);
          if (jqXHR.responseJSON) {
            if (jqXHR.responseJSON.message) {
              AppUtils.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
            } else {
              $.each(jqXHR.responseJSON, function (key, value) {
                AppUtils.IziToast.showErrorAlertLeft(value);
              });
            }
          } else {
            AppUtils.IziToast.showErrorAlertLeft(
              'Email hoặc mật khẩu không đúng. Vui lòng kiểm tra lại!',
            );
          }
        })
        .always(function () {
          page.commands.closeLoading();
        });
    };

    page.commands.showLoading = () => {
      page.elements.loader.removeClass('hide');
    };

    page.commands.closeLoading = () => {
      page.elements.loader.addClass('hide');
    };

    page.commands.loadData = () => {};

    page.initializeEventControl = () => {
      page.elements.btnLogin.on('click', () => {
        page.commands.login();
      });
    };

    $(() => {
      page.commands.loadData();
      page.initializeEventControl();
    });
  </script>
</html>
